.bg-container {
    background-image:url("images/滄浪 A5 外框-16.jpg");
    background-size:cover;
    background-position:center center;
  }

  html, body {
    margin:0;
    height:100%;
  }

button {
    display: block;
    margin: auto;
    width: 40%;
    height: 6%;
    margin-bottom: 3%;
    background-color: transparent;
    font-size: 18px;
    border: 2px solid #F6D0BA;
    color:#772F07;
    text-align: center;
    writing-mode: horizontal-tb;
}