.bg-container {
    position: relative; 
    height: 100vh;
    width: 100%;
    background-image:url("images/滄浪 A5 外框-16.jpg");
    background-size:cover;
    background-position:center center;

  }

  html, body {
    margin:0;
    height:100%;
  }

.bg-container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.25);
}

button {
    display: block;
    margin: auto;
    width: 50%;
    height: 8%;
    margin-bottom: 3%;
    background-color: transparent;
    font-size: 18px;
    border: 2px solid #F6D0BA;
    color:#772F07;
    text-align: center;
    writing-mode: horizontal-tb;
}